.tablecontainer {
  width: 500px;
  clear: both;
}

.MyTable {
    z-index: 0;
    width: 100%;
    top: 0px;
    padding: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #3E3D3D;
    background-blend-mode: multiply;
}

.tablecontainer {
    background-color: white;
    border-radius: 10px;
    padding: 1rem 2rem;
    position: relative;
    margin: 0 auto;
    width: 820px;
}