#cpt-bot-iframe {
  border-width: 1px;
  border-color: white;
  border-radius: 100px;
  background-color: white;
  transition: all 0.5s ease-in-out;
  height: 0px;
  width: 490px;
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 700;
}

#cpt-bot-button {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 20px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

#cpt-bot-chat-icon {
  font-size: 15px;
  margin-top: -120px;
  margin-left: -120px;
  box-shadow: 2px 2px 3px #999;
  width: 170px;
  height: 170px;
  background-color: white;
  border-radius: 100%;
  padding: 2px;
}

#cpt-bot-exit-icon {
  display: none;
  font-size: 40px;
  margin-top: 14px;
  color: orange;
}

#feedback-container {
  width: 400px;
  position: fixed;
  bottom: 15px;
  left: 15px;
  height: 0px;
  border-radius: 0px;
  color: black;
  transition: all 0.5s ease-in-out;
}

.fa,
.fas,
.far,
.fal,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.fa-times:before {
  content: "\f00d";
}

.fa-comments:before {
  content: "\f086";
}

.fa,
.fas {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.centered-content {
  text-align: center;
  position: relative;
  float: left;
  top: 50vh;
  left: calc(50vw - 30px);
  transform: translate(-50%, -50%);
}
